lys_tri_map/images/**
lys_tri_map/proc/**
lys_tri_map/export/**

lys_tri_model/proc/**
lys_tri_model/export/**

lys_tet_map/images/**
lys_tet_map/proc/**
lys_tet_map/export/**

lys_tet_model/proc/**
lys_tet_model/export/**

lys_ortho_map/images/**
lys_ortho_map/proc/**
lys_ortho_map/export/**

lys_ortho_model/proc/**
lys_ortho_model/export/**

**/.DS_Store

**/notes*.m
